# **Import Libraries**

In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# **Load and Inspect Dataset**

In [19]:
df = pd.read_csv("../data/ai_job_market_insights.csv")

df.head()

,Job_Title,Industry,Company_Size,Location,AI_Adoption_Level,Automation_Risk,Required_Skills,Salary_USD,Remote_Friendly,Job_Growth_Projection
0,Cybersecurity Analyst,Entertainment,Small,Dubai,Medium,High,UX/UI Design,111392.165243,Yes,Growth
1,Marketing Specialist,Technology,Large,Singapore,Medium,High,Marketing,93792.562466,No,Decline
2,AI Researcher,Technology,Large,Singapore,Medium,High,UX/UI Design,107170.263069,Yes,Growth
3,Sales Manager,Retail,Small,Berlin,Low,High,Project Management,93027.953758,No,Growth
4,Cybersecurity Analyst,Entertainment,Small,Tokyo,Low,Low,JavaScript,87752.922171,Yes,Decline

# **Dataset Information**

In [20]:
df.info()

print(f"Null Rows:\n{df.isnull().sum()}")

print(f"Duplicated Rows: {df.duplicated().sum()}")

print(f"Describe:\n{df.describe()}")

print(f"Shape: {df.shape}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Job_Title              500 non-null    object
 1   Industry               500 non-null    object
 2   Company_Size           500 non-null    object
 3   Location               500 non-null    object
 4   AI_Adoption_Level      500 non-null    object
 5   Automation_Risk        500 non-null    object
 6   Required_Skills        500 non-null    object
 7   Salary_USD             500 non-null    float64
 8   Remote_Friendly        500 non-null    object
 9   Job_Growth_Projection  500 non-null    object
dtypes: float64(1), object(9)
memory usage: 39.2+ KB
Null Rows:
Job_Title                0
Industry                 0
Company_Size             0
Location                 0
AI_Adoption_Level        0
Automation_Risk          0
Required_Skills          0
Salary_USD               0
Remote_Friendly          0
Job_Growth_Projection    0
dtype: int64
Duplicated Rows: 0
Describe:
          Salary_USD
count     500.000000
mean    91222.390974
std     20504.291453
min     31969.526346
25%     78511.514863
50%     91998.195286
75%    103971.282092
max    155209.821614
Shape: (500, 10)

In [ ]:
print(f"Number of Unique: {df["Job_Title"].nunique()}")
print(f"Number of Unique: {df["Industry"].nunique()}")
print(f"Number of Unique: {df["Company_Size"].nunique()}")
print(f"Number of Unique: {df["Location"].nunique()}")
print(f"Number of Unique: {df["AI_Adoption_Level"].nunique()}")
print(f"Number of Unique: {df["Automation_Risk"].nunique()}")
print(f"Number of Unique: {df["Required_Skills"].nunique()}")
print(f"Number of Unique: {df["Salary_USD"].nunique()}")
print(f"Number of Unique: {df["Remote_Friendly"].nunique()}")
print(f"Number of Unique: {df["Job_Growth_Projection"].nunique()}")

Number of Unique: 10
Number of Unique: 10
Number of Unique: 3
Number of Unique: 10
Number of Unique: 3
Number of Unique: 3
Number of Unique: 10
Number of Unique: 500
Number of Unique: 2
Number of Unique: 3